@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

#hero-section {
  margin-bottom: 200px;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#hero-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}
#hero-section header #logo {
  width: 10%;
}
#hero-section header ul li {
  display: inline;
  list-style-type: none;
}
#hero-section header ul li a {
  text-decoration: none;
  padding: 10px;
  font-size: 24px;
  color: #fff;
}
#hero-section header ul li a:hover {
  color: #5CE1E6;
  border-bottom: 2px solid #5CE1E6;
}
#hero-section #author {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#hero-section #author #author-picture {
  width: 30%;
}
#hero-section #author #author-picture img {
  border-radius: 60%;
  border: 3px solid #5CE1E6;
}
#hero-section #author #author-heading {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 40%;
  text-align: center;
}
#hero-section #author #author-heading .heading {
  margin-bottom: 20px;
  width: 60%;
}
#hero-section #author #author-heading .line {
  height: 3px;
  background-color: #5CE1E6;
  width: 60%;
}

#about-section {
  background-color: #E5F3FF;
  padding-bottom: 100px;
}
#about-section #main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
#about-section #main #info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
}
#about-section #main #info .main-heading {
  margin-bottom: 50px;
}
#about-section #main #info #info-txt p {
  padding-bottom: 40px;
  text-align: justify;
}
#about-section #main #path {
  width: 40%;
}
#about-section #main #path .main-heading {
  margin-bottom: 50px;
}
#about-section #main #path #timeline .block0 {
  display: flex;
  justify-content: space-between;
  text-align: right;
  justify-content: right;
  margin-bottom: 30px;
}
#about-section #main #path #timeline .block0 .block-txt {
  border-right: 3px solid #5CE1E6;
  border-bottom: 3px solid #5CE1E6;
  text-align: center;
  width: 50%;
}
#about-section #main #path #timeline .block1 {
  display: flex;
  justify-content: space-between;
  text-align: left;
  justify-content: left;
  margin-bottom: 30px;
}
#about-section #main #path #timeline .block1 .block-txt {
  border-left: 3px solid #5CE1E6;
  border-bottom: 3px solid #5CE1E6;
  text-align: center;
  width: 50%;
}

.main-heading {
  text-align: center;
  margin: 0px auto;
  width: 40%;
}
.main-heading h2 {
  color: #000;
  border-bottom: 2px solid #5CE1E6;
}

.bold {
  font-weight: bold;
}

.fa-solid {
  padding-top: 30px;
  font-size: 30px;
}

.fa-brands {
  color: #fff;
  font-size: 30px;
}

#skills {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 150px;
}
#skills .main-heading h2 {
  color: #fff;
}
#skills .services {
  padding-top: 50px;
}
#skills .services .heading2 {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}
#skills .services .services-blocks {
  display: flex;
  justify-content: space-evenly;
}
#skills .services .services-blocks .block2 {
  width: 25%;
  margin-top: 50px;
  text-align: center;
  background-color: #4CBBBF;
  border-radius: 30px;
  padding: 30px;
}
#skills .services .services-blocks .block2 p {
  padding: 10px;
}

#projects {
  background-color: #E5F3FF;
  padding-top: 50px;
  padding-bottom: 50px;
}
#projects #web {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
#projects #web .site {
  width: 20%;
}
#projects #web .site img {
  width: 100%;
}
#projects #web .site img:hover {
  opacity: 0.4;
}
#projects #web .site .project-txt {
  background-color: #4CBBBF;
}
#projects #web .site .project-txt p {
  padding: 20px;
  text-align: center;
  color: #fff;
}

#contact p {
  color: #fff;
}
#contact .main-heading {
  padding-top: 50px;
}
#contact .main-heading h2 {
  color: #fff;
}
#contact .contact-txt {
  text-align: center;
  padding-top: 50px;
}
#contact .contact-txt p {
  padding-top: 30px;
}
#contact #ways {
  display: flex;
  justify-content: space-between;
}
#contact #ways .option {
  width: 30%;
}
#contact #ways .option form {
  color: #fff;
  padding-top: 60px;
  text-align: center;
}
#contact #ways .option form input[type=text] {
  width: 70%;
  background-color: #4CBBBF;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#contact #ways .option form input[type=email] {
  width: 70%;
  background-color: #4CBBBF;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#contact #ways .option form textarea {
  width: 70%;
  background-color: #4CBBBF;
  color: #fff;
  margin-bottom: 20px;
}
#contact #ways .option form #btn {
  width: 40%;
  background-color: #4CBBBF;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
#contact #ways .option form ::-moz-placeholder {
  color: #fff;
}
#contact #ways .option form ::placeholder {
  color: #fff;
}
#contact #ways .option #social {
  text-align: center;
  padding-top: 90px;
}
#contact #ways .option #social .social-box {
  margin-bottom: 90px;
}
#contact #ways .option #social .social-box i {
  margin-bottom: 60px;
}
#contact #ways .option #social .social-box i:hover {
  color: #5CE1E6;
}
#contact #ways .option #social1 {
  text-align: center;
  padding-top: 60px;
}
#contact #ways .option #social1 .social-box1 {
  margin-bottom: 60px;
}
#contact #ways .option #social1 .social-box1 i {
  margin-bottom: 30px;
  color: #fff;
}

.brdr-r {
  border-right: 1px solid #5CE1E6;
}

.brdr-l {
  border-left: 1px solid #5CE1E6;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #E5F3FF;
  margin-top: 50px;
}
footer .sass {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .sass a .fa-solid {
  padding-top: 0px;
}
footer .sass a i {
  font-size: 30px;
  color: #000;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1043px) {
  #hero-section nav ul li a {
    font-size: 22px;
    padding: 5px;
  }
  #hero-section #author #author-heading .heading h1 {
    font-size: 30px;
  }
  #hero-section #author #author-heading .heading h2 {
    font-size: 18px;
  }
  #projects #web .site {
    width: 25%;
  }
  #contact #ways .option {
    width: 40%;
    font-size: 14px;
  }
}
@media screen and (max-width: 939px) {
  #hero-section #author #author-heading .heading h2 {
    font-size: 16px;
  }
  #contact #ways .option {
    width: 40%;
  }
  #contact #ways .option p {
    font-size: 12px;
  }
}
@media screen and (max-width: 867px) {
  #hero-section nav ul li a {
    font-size: 20px;
    padding: 3px;
  }
  #hero-section #author #author-heading .heading h1 {
    font-size: 27px;
  }
  #hero-section #author #author-heading .heading h2 {
    font-size: 15px;
  }
  #projects #web .site {
    width: 30%;
  }
}
@media screen and (max-width: 783px) {
  #hero-section header {
    flex-direction: column;
  }
  #hero-section header #logo {
    margin-bottom: 50px;
  }
  #hero-section header nav ul li a {
    font-size: 18px;
    padding: 25px;
  }
  #hero-section #author #author-heading .heading h1 {
    font-size: 24px;
  }
  #hero-section #author #author-heading .heading h2 {
    font-size: 13px;
  }
  #skills .services .services-blocks .block2 {
    width: 20%;
  }
}
@media screen and (max-width: 721px) {
  #hero-section header nav ul li a {
    padding: 10px;
  }
  #hero-section #author #author-heading .heading h1 {
    font-size: 21px;
  }
  #hero-section #author #author-heading .heading h2 {
    font-size: 10px;
  }
  #skills .services .services-blocks .block2 {
    font-size: 12px;
  }
  #projects #web .site {
    width: 35%;
  }
  #contact #ways .option {
    width: 40%;
  }
  #contact #ways .option p {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  #hero-section header nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
  }
  #hero-section header nav ul li {
    display: block;
    padding: 5px;
  }
  #hero-section header nav ul li a {
    font-size: 22px;
  }
  #hero-section header #logo {
    width: 25%;
  }
  #hero-section #author {
    flex-direction: column;
    margin-top: 60px;
  }
  #hero-section #author #author-picture {
    width: 60%;
  }
  #hero-section #author #author-heading {
    margin-top: 20px;
    width: 80%;
  }
  #hero-section #author #author-heading .heading h2 {
    font-size: 15px;
  }
  #about-section #main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  #about-section #main #info {
    width: 80%;
  }
  #about-section #main #path {
    width: 80%;
  }
  #skills .services .services-blocks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  #skills .services .services-blocks .block2 {
    width: 80%;
  }
  #projects #web {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  #projects #web .site {
    width: 80%;
    padding-bottom: 40px;
  }
  #contact #ways {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  #contact #ways .option {
    width: 80%;
    border: none;
    border-top: 2px solid #5CE1E6;
  }
  #contact #ways .option p {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  #hero-section header nav ul li a {
    font-size: 18px;
  }
  #hero-section header #logo {
    width: 35%;
  }
  #contact #ways .option #contact-form #btn {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */